
*{
    margin: 0;
    padding: 0;
    font-family: 'times', sans-serif;
}
body{
    height: 90%;

}
html{
    overflow-y: scroll;
}
body{
    min-height: 100%;
}

nav{
    width: 98%;
    height: 60px;
    background-color:rgb(45, 132, 214);
    padding: 0 1%;
    text-align: right;
    margin-right: 20px;
}
nav .logo{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    margin-left: 10px;
}

.logo{
    padding: 4px;
}
.logo i{
    color: #fff;
}
ul li{
    display: inline-block;
    padding: 5px 6px;
}
ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 15px;
    font-weight: 500;
    font-size: 16px;
    transition: 0;
    text-align: center;
    padding: 6px 0px;
}
ul li a span, ul li a i{
    display: block;
}

ul li a:hover{
    background-color: black;
    color:rgb(45, 132, 214);
    transition: 2s ease-in-out;
}

footer{
    width: 98%;
    height: 60px;
    background-color: rgb(45, 132, 214);
    padding: 0 1%;
    position: fixed;
    bottom: 0;
}
.copyright, .support, .logoFooter{
    display: inline-block;
    width: 33%;
}
.copyright{
    text-align: left;
}
.support{
    text-align:center;
}

.logoFooter{
    text-align: right;
}
.container{
    width: 96%;
    margin: 2%;
    border-color: black;
}


.conteudo article{
    padding: 5px 0;
    text-align: justify;
}
.conteudo article h2, .conteudo article h4{
    text-align: left;
    text-decoration: underline;
    color:rgb(45, 132, 214);
    margin-bottom: 10px;
    background-size: contain;
}
.conteudo article h4{
    font-size: 14px;
    padding: none;
}
.empurra{
    width: 100%;
    height: 100px;
    clear: both;
}

.container article div h4{
    color:black;
}
.container article div p{
    text-align:justify;
    color:black;
    padding: 6px;
    font-size: 12px;
}
button{
    background-color: rgb(45, 132, 214);
    font-weight: bold;
    color: #fff;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
}

.vagas{
    background-color:blue;
}
.classificado{
    background-color: green;
}
.curriculo{
    background-color:darkorange;
}
.cadDestaque{
    background-color: darkgoldenrod;
}
.cadGratis{
    background-color:chartreuse;
}
.diversos{
    display: flex;
    width: 90%;
    color: #fff;
    text-align: center;
    margin: 5%;

}
main{
    width: 90%;
    margin: 5%;
}